# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo

# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/
.DS_Store

# =========================================================
# LARGE DATA FILES
# =========================================================

data/
*.pkl
*.pkl.gz
*.npz
*.npy

# =========================================================
# VIDEO / IMAGE FILES
# =========================================================

*.mp4
*.avi
*.mov
*.mkv

*.jpg
*.jpeg
*.png

# =========================================================
# STREAMLIT
# =========================================================

.streamlit/secrets.toml

# =========================================================
# OPENAI / SECRETS
# =========================================================

.env
*.env

# =========================================================
# LOGS
# =========================================================


# =========================================================
# INPUTS
# =========================================================
inputs/

# =========================================================
# OUTPUTS
# =========================================================
outputs/
checkpoints/
