# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo

# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/

# =========================================================
# LARGE DATA FILES
# =========================================================

*.pkl
*.pkl.gz
*.npz
*.npy

# =========================================================
# VIDEO / IMAGE FILES
# =========================================================

*.mp4
*.avi
*.mov
*.mkv

*.jpg
*.jpeg
*.png

# =========================================================
# STREAMLIT
# =========================================================

.streamlit/secrets.toml

# =========================================================
# LOGS
# =========================================================


# =========================================================
# OUTPUTS
# =========================================================

